@import './components/mixis';

$background-color: #191c22;
$font-color: rgb(250, 250, 250);
$main-color: #66D7D1;
$main-color-dark: #4bbeb9;
$second-color: #f23c3c;
$second-color-dark: #d13232;
$white-color: rgb(250, 250, 250);
$black-color: rgba(0, 0, 0, 0.4);
$main-font: Grithani;

$small-screen: 576px;

// @font-face {
//     font-family: Grithani; 
//     src: url('/docs/font/Grithani.otf');
// }
 
*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;  
    margin: 0;
    font-family: sans-serif; 
}
html {
    font-size: 20px;
}
body { 
    background-color: $background-color; 
    color: $font-color; 
    width: 100%;
}
button, input, textarea {
    outline: none;
    resize: none;
}

section.section {
   max-width: 1000px;
   margin: 0 auto;
   padding: 1rem;
}
 

// @import './components/header';  
@import './components/form'; 
@import './components/tasks'; 