*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

html {
  font-size: 20px; }

body {
  background-color: #191c22;
  color: #fafafa;
  width: 100%; }

button, input, textarea {
  outline: none;
  resize: none; }

section.section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem; }

section {
  width: 100%; }

form.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  form.form label {
    font-size: 1rem; }
  form.form input, form.form textarea {
    font-size: 1em;
    padding: .5em;
    background: none;
    border-radius: 10px;
    border: solid 1px #fafafa;
    color: #fafafa;
    transition: all .4s ease;
    margin: 10px; }
  form.form textarea {
    width: 100%;
    height: 6em; }
  form.form input[type="text"]#name {
    width: 100%; }
  form.form input:focus,
  form.form textarea:focus {
    box-shadow: 0px 0px 5px 0.5px #66D7D1; }
  form.form input[type="submit"] {
    background-color: #66D7D1;
    border: none;
    color: #fafafa;
    border-radius: 5px;
    padding: .6rem .5rem;
    font-size: .9rem;
    transition: all .2s ease-in; }
    form.form input[type="submit"]:hover {
      transition-delay: .2s;
      background-color: #4bbeb9; }

#taskContainer .task {
  position: relative;
  margin: 1em auto;
  width: 100%; }
  #taskContainer .task h3.title {
    font-size: 1.3em;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: .05em; }
    @media (max-width: 576px) {
      #taskContainer .task h3.title {
        width: 60%; } }
  #taskContainer .task p.description {
    font-size: .9em; }
    @media (max-width: 576px) {
      #taskContainer .task p.description {
        width: 60%; } }
  #taskContainer .task button.delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #f23c3c;
    border: none;
    color: #fafafa;
    border-radius: 5px;
    padding: .6rem .5rem;
    font-size: .9rem;
    transition: all .2s ease-in; }
    #taskContainer .task button.delete:hover {
      transition-delay: .2s;
      background-color: #d13232; }
